:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-higlight: #c100c1;
  --color-something: #5d737e;

  --body-background-ligth: #fff;
  --body-background-dark: #001018;

  --body-background: #fff;
  --text-color: #444;
  --headline-color: #222;
  --sidebar-color: #fafafa;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Merriweather', serif;
}

.ft-toast {
  hyphens: none;
  text-align: center; 
  color: #111;
}